<nav class="navbar navbar-expand-lg" id="{{ include.type }}">
    <div class="container-fluid content">{% assign navigation = site.data.navigation | where: "type", include.type | last %}{% if include.type == "top" %}
        <a class="navbar-brand" href="/">{{ site.title }}</a>
        {% endif %}<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-{{include.type}}" aria-controls="navbar-{{include.type}}" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse{% if include.type == 'footer' %} justify-content-center{% endif %}" id="navbar-{{include.type}}">
            <ul class="navbar-nav mb-2 mb-lg-0{% if include.type == 'top' %} me-auto  navbar-nav-scroll{% endif %}">{% for item in navigation.items %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
                </li>{% endfor %}
            </ul>{% if include.type == "top" %}
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      User
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        {% endif %}</div>
    </div>
</nav>