<nav class="top-navbar navbar navbar-expand-lg">
  <div>
    <a class="navbar-brand" href="#">
      <img class="rounded-circle" src="/assets/img/Utopia-Logo.png" alt="Logo" height="54px"> Play-Utopia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse  collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">{% for item in site.data.navigation.top_menu %}
        <li class="nav-item{% if item.type == 'Dropdown' %} dropdown{% endif %}">
          <a class="nav-link{% if item.type == 'Link' %}" href="{{ item.link }}" aria-current="page{% else %} dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false{% endif %}">{{ item.name }}</a>
          {% if item.type == 'Dropdown' %}<ul class="dropdown-menu">{% for subitem in item.items %}
            {% if subitem.type == "Link" %}<li><a class="dropdown-item" href="{{subitem.link}}">{{subitem.name}}</a></li>{% endif %}{% endfor %}
          </ul>{% endif %}
        </li>
      {% endfor %}</ul>
      <form class="nav-search" role="search">
        <input type="search" placeholder="Search" aria-label="Search">
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
