<div class="card">
    <div class="card-header">
        <h5 class="card-title">{{spell.title}}</h5>
        <h6 class="card-subtitle text-body-secondary">{{spell.type}} | {{spell.artistry | join: ", "}}</h6>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>Duration:</strong> {{spell.duration}}<br>
            <strong>Range:</strong> {{spell.range}}<br>
            <strong>AOE:</strong> {{spell.aoe}}
        </li>
        <li class="list-group-item">{{ spell.content }}</li>
    </ul>
</div>