@import "bootstrap";

.navbar {
    background-color: $body-tertiary-bg;
    @extend .mb-4;
    @extend .px-4;
    // Controll Spacing at side
    > div {
        @extend .container-fluid;
        max-width: map-get($container-max-widths, "xl");
        > .navbar-collapse {
            > .navbar-nav {
                @extend .mb-2;
                @extend .me-auto;
                @extend .mb-lg-0;
            }

            > .nav-search {
                display: flex;
                @extend .gap-2;

                > input {
                    @extend .form-control;
                }
                > button {
                    @extend .btn;
                    @extend .btn-outline-success;
                }
            }
        }
    }
}

