<!doctype html>
<html>
  <head>
    {% include meta.html %}
  </head>
  <body>
    {% include navigation.html %}
    <div class="container container-sm">
      <div class="row">
        <div class="d-none d-lg-grid col-lg-3"></div>
        <div class="col"><h1>{{ page.title }}</h1></div>
      </div>
      <div class="row row-columns-auto">
        <div class="d-none d-lg-grid col-lg-3" id="table-of-contents">
            {% toc %}
        </div>
        <div class="col" id="markdown-content">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
