<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/assets/css/styles.css">
      <script src="/assets/js/bootstrap-5.3.3/bootstrap.bundle.min.js"></script>
      <title>{{ page.title }} | {{page.collection }} | {{ site.title }}</title> 
  </head>
  </head>
  <body>
    {% include navigation.html %}
    <ul id="test"></ul>
    <script>
      (async () => {
        let results = await fetch("/netlify/functions/get-spell").then(response => response.json());
        results.forEach(result => {
          const item = document.createElement("li");
          item.innerText = result.name;
          document.getElementById("test").appendChild(item);
        }); 
      })();
    </script>
    {{ content }}
    {% include footer.html %}
  </body>
</html>
