<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/assets/css/styles.css">
      <script src="/assets/js/bootstrap-5.3.3/bootstrap.bundle.min.js"></script>
      <title>{{ page.title }} |{% unless page.collection.length == 0 %}{{page.collection }} |{% endunless %} {{ site.title }}</title> 
  </head>
  <body>
    {% include navigation.html type="top" %}
    <div class="content my-4">
      {{content}}
    </div>
    {% include navigation.html type="footer" %}
  </body>
</html>
