---
layout: none
---
<div class="card" id="card">
    <ul class='card-body-list'>
        <li>
            <div class='card-meta-grid'>
                <div class='item-md'><div>
                    <div class='meta-label' id='category'>Category</div>
                    <div class='meta-content'></div></div>
                </div>
                <div class='item-sm'><div>
                    <div class='meta-label' id='stamina'>Stamina</div>
                    <div class='meta-content'></div></div>
                </div>
                <div class='item-lg'><div>
                    <div class='meta-label' id='artistry'>Artistry</div>
                    <div class='meta-content'></div></div>
                </div>
                <div class='item-md'><div>
                    <div class='meta-label' id='duration'>Duration</div>
                    <div class='meta-content'></div></div>
                </div>
                <div class='item-sm'><div>
                    <div class='meta-label' id='range'>Range</div>
                    <div class='meta-content'></div></div>
                </div>
                <div class='item-lg'><div>
                    <div class='meta-label' id='aoe'>Area of Effect</div>
                    <div class='meta-content'></div></div>
                </div>
            </div>
        </li>
        <li id="card-content"></li>
    </ul>
    <div class="card-body d-flex justify-content-between">
        <div><small>Tags: <span class="badge bg-light text-dark">Light</span></small></div>
        <div class="text-end fst-italic"><small>Source: <span id="card-source"></span></small></div>
    </div>
</div>
<script>
  const collection = "{{ page.collection | capitalize }}";
  console.log(window.location.href);
  try {
  const itemName = window.location.href.split("/")[window.location.href.split("/").length -1];
  console.log(itemName);
  (async () => {
    let item = await fetch(`/.netlify/functions/get-item?collection=${collection}&slug=${itemName}`).then(response => response.text());
    item = JSON.parse(item)[0];
    console.log(item);

    /*var header = document.getElementsByTagName("h1")[0];
    header.innerHTML = item.title;*/

    const meta = {
        'category': ['Category',item.category],
        'stamina': ['Stamina', Object.keys(item.stamina).map(key => {
                return `${(key != "flex" || item.stamina > 0) ? item.stamina[key] : ''}${(key == "flex") ? X : ''}`;
            }).join(" + ")],
        'artistry': ['Artistry', item.artistry.join(", ")],
        'duration': ["Duration", `${(item.duration.type == "Duration") ? Object.values(item.duration.time).join(" ") : item.duration.type }${ item.duration.focus ? " of Focus" : ""}${ item.duration.trigger ? " when triggered" : ""}`],
        'range':['Range',(item.range.type == "Touch") ? item.range.type : [item.range.range.toString(), "meters"].join(" ")],
        'aoe':['Area of Effect',item.aoe.label]
    };

    Object.keys(meta).forEach(id=>{
        document.getElementById(id).innerText = meta[id][0];
        document.getElementById(id).nextElementSibling.innerHTML = meta[id][1];
    });
    document.getElementById("card-content").innerHTML = item.content;
    document.getElementById("card-source").innerHTML = item.source;
  })();
} catch (error) {

}
</script>